* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ca3547;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: #721a1a4d;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000%;
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    background: linear-gradient(
    270deg,
    #e8abaf 10%,
    #84262c 100%
    );
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 13rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1 rem 0;
    font-size: 4rem;
}
.home-content p{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1,8;
    max-width: 400px;
}
.multi-divider {
    text-align: center;
    margin: 30px 0; 
}

.line {
    height: 3px;
    margin: 6px auto;
}

.multi-divider .line:nth-child(1) {
    width: 80px;
    background-color: rgb(146, 68, 85);
}

.multi-divider .line:nth-child(2) {
    width: 100px;
    background-color: rgb(146, 38, 61);
}

.multi-divider .line:nth-child(3) {
    width: 80px;
    background-color: rgb(150, 0, 32);
}

.home-img img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.home-img{
    width: 32vw;
    height: 22vw;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.btn-group a :nth-last-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a :nth-last-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--second-bg-color);
    padding: 10rem 0;
}
.image-wrapper{
    display: flex;
    justify-content: center;
    gap: 5rem;               
    width: 100%;             
    max-width: 1000px;       
}
.about-img-1 img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.about-img-1{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-img-1:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
    transform: scale(1.05);
}
.about-img-2 img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.about-img-2{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-img-2:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
    transform: scale(1.05);
}
.about-content h2{
    font-size: 7rem;
    max-width: 800px;
    margin: 3rem auto;
    text-align: center;
}
.about-content p{
    text-align: center;
    max-width: 900px;
}
.about-text{
    font-size: 2rem;
    margin-bottom: 7rem;
}
.citat{
    font-size: 3rem;
    color: var(--main-color);
    font-style: oblique;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
.autor{
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 5rem; 
}

.about-content .btn{
margin: 3rem 0;
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}


.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.projects h2{
    font-size: 5rem;
}
.projects{
    background-color: var(--second-bg-color);
}
.projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02)
}
.project-card img{
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}
.project-card h3{
    font-size: 3rem;
}
.project-card p{
    font-size: 1.6rem;
}


.footer{
    background-color: var(--second-bg-color);
    padding: 50px 0;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

 @media(max-width:1285px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 56vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width: 52vw;
    }
    .contact form{
        flex-direction: column;
    }
 }